NEXT_PUBLIC_SANITY_PROJECT_ID=bvfl9kqv
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-04-24
SANITY_API_READ_TOKEN=your_sanity_read_token_here
SANITY_API_WRITE_TOKEN=your_sanity_write_token_here
SANITY_DATASET_ACL_MODE=private
